@page
@model MajsterChef.Pages.Ulubione.DeleteModel

@{
    ViewData["Title"] = "Unfavourite";
}

<h1>Unfavourite</h1>

<h3>Czy na pewno chcesz usunąć przepis z ulubionych?</h3>
<div>
    <h4>Przepis</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ulubiony.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ulubiony.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ulubiony.Id_usera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ulubiony.Id_usera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ulubiony.PrzepisID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ulubiony.PrzepisID)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Ulubiony.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Index">Back to List</a>
    </form>
</div>
