@page
@model MajsterChef.Pages.Ulubione.IndexModel

@{
    ViewData["Title"] = "Twoje ulubione!";
}

<h1>Twoje ulubione przepisy!</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Przepisy[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepisy[0].Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepisy[0].Data_publikacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepisy[0].Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Przepisy) {
    @if (item.Data_publikacji <= DateTime.Now)
    {
        <tr>
            <td>
                <a href="/Profile?UserName=@Model.UserName(item.Owner)">@Model.UserName(item.Owner)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_publikacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <p>
                    <a asp-page="/Przepisy/Details" asp-route-id="@item.ID">Details</a>
                    @if (item.Owner == User.Identity.Name)
                    {
                        <text>| </text><a asp-page="/Przepisy/Edit" asp-route-id="@item.ID">Edit</a>;
                    }
                    | <a asp-page="/Ulubione/Delete" asp-route-id="@Model.FavID(item.ID)">Usuń z ulubionych</a>
                </p>
            </td>
        </tr>
    }
}
    </tbody>
</table>
