@page
@model MajsterChef.Pages.Przepisy.DetailsModel
@{ ViewData["Title"] = "Szczegóły przepisu";
    Model.EntryID = Model.Przepis.ID;}

<div style="background-color:white; width:auto; padding:20px; display:inline-block">
    <h1 style="background-color:white;">Szczegóły</h1>

    <div style="background-color:white;">
        <h4>Przepis</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Przepis.Nazwa)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Przepis.Nazwa)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Przepis.Lista_skladnikow)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Przepis.Lista_skladnikow)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Przepis.Opis_wykonania)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Przepis.Opis_wykonania)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Przepis.Owner)
            </dt>
            <dd class="col-sm-10">
                @Model.UserName(Model.Przepis.Owner)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Przepis.Data_publikacji)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Przepis.Data_publikacji)
            </dd>
            @if (!string.IsNullOrWhiteSpace(User.Identity.Name))
            {
<dt class="col-sm-2">
    Ocena
</dt>
                <dd class="col-sm-10">

                    <form runat="server" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div style="display:inline;float:left">
                            <button id="btnDislike"
                                    Text="-"
                                    type="submit"
                                    name="button"
                                    value="dislike"
                                    runat="server"
                                    height="auto"
                                    width="50px"
                                    BorderStyle="Outset"
                                    onclick="this.disabled = true;"
                                    asp-route-itemid="@Model.Przepis.ID"
                                    asp-page-handler="Dislike">
                                -
                            </button>&nbsp;

                        </div>

                        &nbsp; @Model.Score() &nbsp;

                        <div style="display:inline;float:left">
                            <button id="btnLike"
                                    Text="+"
                                    type="submit"
                                    value="like"
                                    name="button"
                                    runat="server"
                                    height="auto"
                                    width="50px"
                                    BorderStyle="Outset"
                                    onclick="this.disabled = true;"
                                    asp-route-itemid="@Model.Przepis.ID"
                                    asp-page-handler="Like">
                                +
                            </button>
                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div style="display:inline;float:left">
                            <button id="btnFav"
                                    Text="Fav"
                                    type="submit"
                                    value="fav"
                                    name="button"
                                    runat="server"
                                    height="auto"
                                    width="50px"
                                    BorderStyle="Outset"
                                    onclick="this.disabled = true;"
                                    asp-route-itemid="@Model.Przepis.ID"
                                    asp-page-handler="Favourite">
                                Dodaj do ulubionych!
                            </button>
                        </div>
                    </form>
                </dd>
                                <dt class="col-sm-2">

                                </dt>
                                                <dd class="col-sm-10">

                                                </dd>}
        </dl>
        @if (User.Identity.IsAuthenticated)
        {
<div class="row">
    <div class="col-md-4">
        <form runat="server" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label class="control-label">Dodaj link do zdjęcia</label>
                <input name="URL" asp-for="@Model.Photo.URL" class="form-control" />
                <span asp-validation-for="@Model.Photo.URL" class="text-danger"></span>
            </div>
            <div style="display:inline;float:left">
                <button id="btnSendPhoto"
                        Text="-"
                        type="submit"
                        name="button"
                        value="SendPhoto"
                        runat="server"
                        height="auto"
                        width="50px"
                        BorderStyle="Outset"
                        onclick="this.disabled = true;"
                        asp-route-itemid="@Model.Przepis.ID"
                        asp-page-handler="SendPhoto">
                    Dodaj
                </button>&nbsp;
            </div>
        </form>
    </div>
</div>}
    </div>
    <div style="background-color:white;">
        <p>
            @if (Model.Przepis.Owner == User.Identity.Name)
            {<a asp-page="./Edit" asp-route-id="@Model.Przepis.ID">Edytuj przepis</a> <text>|</text>}
            <a asp-page="./Index">Wróć do listy</a>
        </p>
    </div>
    <div style="background-color:white;">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Zdjęcia:
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Photos)
                {
    <tr>
        <td>
            <img src="@Url.Content(item.URL)" style="width:50%; display:block; margin-left:auto; margin-right:auto;" alt="" />
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}