@page
@model MajsterChef.Pages.Przepisy.IndexModel

@{
    ViewData["Title"] = "Lista przepisów!";
}

<h1 style="text-align:center; font-family:'Lucida Console'">Lista przepisów użytkowników</h1><br />

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p style="font-family:'Lucida Console'">
            Wyszukaj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Wróć do wszystkich przepisów</a>
            @if (!(string.IsNullOrEmpty(User.Identity.Name)))
            {
            <p style="font-family:'Lucida Console'">
                <a asp-page="Create">Dodaj nowy przepis!</a>
            </p>}
            </p>
        </div>
</form>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Przepis[0].Owner)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Przepis[0].Nazwa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Przepis[0].Data_publikacji)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Przepis[0].Score)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Przepis)
            {
                @if (item.Data_publikacji <= DateTime.Now)
                {
                    <tr>
                        <td>
                            <a href="/Profile?UserName=@Model.UserName(item.Owner)">@Model.UserName(item.Owner)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Data_publikacji)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            <p>
                                <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                                @if (item.Owner == User.Identity.Name)
                                {
                                    <text>| </text><a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> ;
                                    <text>| </text><a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>;
                                }
                            </p>
                        </td>
                     </tr>
                 }
              }
        </tbody>
    </table>
