@page
@model MajsterChef.Pages.Profile.IndexModel

@{
    ViewData["Title"] = "Przepisy autorstwa " + Model.UserName;
}

<h1>Przepisy autorstwa @Model.UserName</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Data_publikacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Score)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Przepis)
        {
            @if (item.Data_publikacji <= DateTime.Now)
            {
                <tr>
                    <td>
                        <a href="?UserName=@Model.NameUser(item.Owner)">@Model.NameUser(item.Owner)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_publikacji)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Przepisy/Details" asp-route-id="@item.ID">Details</a>
                            @if (item.Owner == User.Identity.Name)
                            {
                                <text>| </text><a asp-page="/Przepisy/Edit" asp-route-id="@item.ID">Edit</a> ;
                                <text>| </text><a asp-page="/Przepisy/Delete" asp-route-id="@item.ID">Delete</a>;
                            }
                        </p>
                    </td>
                </tr>
             }
         }
    </tbody>
</table>
