@page
@model IndexModel

@{
    ViewData["Title"] = "Strona główna - Top 10 przepisów!";
}

<h1>Witamy na stronie MajsterChef!</h1>
<h3>Oto 10 najlepiej ocenianych przepisów na naszej stronie!</h3><br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Data_publikacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Przepis[0].Score)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Przepis)
        {
        <tr>
            <td>
                <a href="./Profile?UserName=@Model.UserName(item.Owner)">@Model.UserName(item.Owner)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_publikacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <p>
                    <a asp-page="./Przepisy/Details" asp-route-id="@item.ID">Details</a>
                    @if (item.Owner == User.Identity.Name)
                    {
                        <text>| </text><a asp-page="./Przepisy/Edit" asp-route-id="@item.ID">Edit</a> ;
                        <text>| </text><a asp-page="./Przepisy/Delete" asp-route-id="@item.ID">Delete</a>;
                    }
                </p>
            </td>
        </tr>
        }
    </tbody>
</table>
